html {
    width: 100%;
    height: 100%;
    background-color: #EEE;
}

div#content {
    width: 563px;
    height: 100%;
    margin: auto;
    padding: 10px;
    border: 1px solid #EEE;
    border-radius: 15px;
    background-color: #FFF;
}

p,h1,h2,h3,a,li,dt,dd { font-family: sans-serif; }

p,h1,h2 {
    color: #000;
    text-decoration: none;
    line-height: 1.25em;
}

a {
    color: #888;
    font-size: small;
    text-decoration: none;
    line-height: 1.1em;
}

ul {
    list-style: none;
}

header ul li {
    color: #444;
}

section h1 {
    border-bottom: 1px solid #888;
}

section h2 {
    border-bottom: 1px solid #CCC;
    padding-left: 20px;
}
